<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SqlConnectionReactCoreProdDB" connectionString="U2VydmVyPS47RGF0YWJhc2U9UmVhY3RDb3JlO1RydXN0ZWRfQ29ubmVjdGlvbj1UcnVlO0Nvbm5lY3Rpb24gVGltZW91dD05MA=="/>
    <add name="SqlConnectionReactCoreLocalDB" connectionString="Server=.;Database=ReactCore;Trusted_Connection=True;Connection Timeout=90"/>
  </connectionStrings>
</configuration>